*{
    scroll-behavior: smooth;
  }
  
  body{
      margin: 0;
      padding:0;
      overflow-x: hidden;
      font-family: 'Open Sans', sans-serif;
    
  }

  

/* Nav */
#navbar {
    position: sticky;
    top: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000; /* = #ecf0f1 + opacity */
    backdrop-filter: blur(4px);
    color: #000;
    z-index: 999;
   
}

#nav-logo {
    height: 50px;
    width: auto;
    margin: .5rem;
    margin-left: 30px;
    position: relative;
    top: 0;
    transform: translateX(0%);
    transition: transform .5s ease-out;
}

#nav-links ul {
    margin: 0;
    padding: 0;
    margin-right: 30px;
    display: flex;
}

#nav-links li {
    list-style: none;
    font-size: 1.2rem;
}

#nav-links li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
}

#nav-links a:hover {
    color: #f8c913;
}
/* Nav Burger */
#nav-toggle-button {
    position: absolute;
    top: 1.6rem;
    right: 1rem;
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

#nav-toggle-button .nav-toggle-bar1 {
    height: 3px;
    width: 100%;
    background-color: #f8c913;
    background-color: 10px;
    transition: .5s ease-in-out;
}

#nav-toggle-button .nav-toggle-bar2 {
    height: 3px;
    width: 100%;
    background-color: #f8c913;
    background-color: 10px;
    transition: .5s ease;
}

#nav-toggle-button .nav-toggle-bar3 {
    height: 3px;
    width: 100%;
    background-color: #f8c913;
    background-color: 10px;
    transition: .5s ease-in-out;
}

@media (max-width: 600px) {

    #nav-logo {
        position: relative;
        top: 0;
        right: 225px;
        transform: translateX(405%);
        transition: transform 1s ease-out;
    }

    #nav-toggle-button {
        display: flex;
    }

    #nav-links {
        display: none;
    }

    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #nav-links ul {
        width: 100%;
        flex-direction: column;
    }

    #nav-links li {
        text-align: center;
    }

    #nav-links li a {
        padding: .5rem 1rem;
    }
    #testres{
        display: none;
    }
}

/* animation burger */

.open-hamburger .nav-toggle-bar2{
    opacity: 0;
}

.open-hamburger .nav-toggle-bar1{
    transform: rotate(45deg) translateY(13px);
}

.open-hamburger .nav-toggle-bar3{
    transform: rotate(-45deg) translateY(-13px);
}

/* Fin nav*/



.categorie {
    display: block;
    text-align: center;
    align-items: center;
    text-decoration: none;
    padding: 15px 15px;
    cursor: pointer;
    border-bottom: 3px white solid;
    transition: 500ms ease;
    font-size: 110%;
}
.cat {
    display: flex;
    flex-direction: column;
}

.container-filtre-tb{
    width: 100%;
    display: flex;
    
}
.categorie-filtre-tb {
    width: 16%;
    
  }

.filtre {
    width: 100%;
    margin-top: 80px;
    line-height: 35px;
    padding-right: 5em;
  }
  .button-filtre {
    width: 90px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #963420;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  .button-filtre {
    width: 90px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #f8d862;
    background-color: #000;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
    
.button-filtre:hover{
    background-color: #000;
    box-shadow: 0px 15px 20px #bd9813;
    color: #fff;
    transform: translateY(-7px);
}

.card-body h6{
    font-weight: 200;
font-size: 13Px;
}

.card-body h6 {
    margin-left: 50px;

}

.card-body div {
    margin-left: 9px;

}
.border img{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
      height: 300px;

}

.border ul{
    display: flex;
    flex-direction: column;
    line-height: 28px;
    font-size: 20px;
    font-weight: 200;
    list-style: none;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
}


.categorie-tb {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(221px, 1fr));
    margin-top: 50px;
  }

.categorie-1 img{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
      height: 300px;
}

    

.categorie-1 {
    width: 100%;
    margin-right: 10px;
    height: 400px;
  }

.categorie-1 ul{
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: end;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
}


.border h6{
    font-weight: normal;
}
/* NOuveaute */
.nouveaute-tb {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(221px, 1fr));
    margin-top: 50px;
  }

.nouveaute-1 img{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
      height: 300px;
}

    

.nouveaute-1 {
    width: 100%;
    margin-right: 10px;
    height: 400px;
  }

.nouveaute-1 ul{
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: end;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    font-size: 12px;
}

/* SLIDER RANGE PRIX */
.slider:hover {
    opacity: 1;
  }

#myrange.slider{
    background-color: #df8270
}

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #df8270;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #df8270;
    cursor: pointer;
    border-radius: 50%;
  }

  .slidecontainer{
        margin: 15px auto;
        width: 75%;
  }

  .slidecontainer p{
      margin-top: 10px;
  }
  /* occasion */

  
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    font-family: 'Oswald_Light';
    
}

.inscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px rgb(210, 210, 210);
    border-radius: 5px;
    width: 40%;
    margin-bottom: 100px;
}

.connexion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px rgb(210, 210, 210);
    border-radius: 5px;
    width: 30%;
    margin-bottom: 100px;
}

 @media screen and (max-width: 1000px) {
    .inscription, .connexion {
        width: 50%;
    }
}

@media screen and (max-width: 750px) {
    .inscription, .connexion {
        width: 60%;
    }
}

@media screen and (max-width: 550px) {
    .inscription, .connexion {
        width: 70%;
    }
}

@media screen and (max-width: 450px) {
    .inscription, .connexion {
        width: 90%;
    }
}

@media screen and (max-width: 370px) {
    .inscription, .connexion {
        width: 95%;
    }
}

.sucess {
    color: lime;
}

.error {
    color: red;
}

h3 {
    font-size: 250%;
    margin: 15px 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.model_un {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 5px 0;
}

.nom {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.prenom {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.nom label, .nom input, .prenom label, .prenom input {
    font-size: 130%;
    width: 100%;
}

.nom input, .prenom input, .model_deux input {
    align-items: flex-start;
    width: 90%;
}

.titr_la {
    font-size: 130%;
    margin: 5px 15px;
    width: 90%;
}

.titr_lac {
    font-size: 130%;
    margin: 5px 15px;
    width: 50%;
}


.titr_in {
    font-size: 130%;
    margin: 3px 15px;
    width: 90%;
    border: 1px black solid;
    border-radius: 5px;
}

.titr_inc {
    font-size: 130%;
    margin: 3px 15px;
    width: 50%;
    border: 1px black solid;
    border-radius: 5px;
}

.model_deux {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px 0;
}

.model_deux label, .model_deux input {
    font-size: 130%;
    width: 90%;
}

.model_trois {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin: 5px 0;
}

.femme {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 30% !important;
    font-size: 120%;
}

.homme {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 31.2% !important;
    font-size: 120%;
}

.conditions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    width: 90%;
}

.conditions input {
    margin-right: 5px;
}

.confident {
    text-decoration: underline;
}

.confident:hover {
    color: gray;
}

.aide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 15px;
    width: 90%;
}

.checkbox {
    margin-right: 5px;
    cursor: pointer;
}

.mdp_oublie {
    text-decoration: underline;
    color: black;
    margin: 0 5px;
}

.sub {
    margin: 10px 25px;
    padding: 5px 25px;
    font-size: 120%;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    font-family: 'Oswald';
    align-self: center;
  
}

.co_ins {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 10px;
}

/* pagination*/

.pagination {
    float: right;
    margin: 0 0 5px;
}
.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}
.pagination li a:hover {
    color: #666;
}	
.pagination li.active a, .pagination li.active a.page-link {
    background: #161414;
}
.pagination li.active a:hover {        
    background: #0397d6;
}
.pagination li.disabled i {
    color: #ccc;
}
.pagination li i {
    font-size: 16px;
    padding-top: 6px
}
.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
} 

/* filtre test  */

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 160px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}
#loading
{

	text-align:center; 
	background: url('../img/loader.gif') no-repeat center; 
	height: 550px;
}

